#dettaglio-pokemon{
    background-color: rgb(248, 254, 254);
    padding: 30px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px gray;
    max-width: 600px;
    margin: 0 auto;

    li{
        list-style-type: none;
    }
}